@font-face {
    font-family: monospace;
    src: url();
}

body {
    font-family: monospace;
    color: #FBFADA;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #12372A;
}

#recuerdos {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: .3s;
}

.fichas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    border-radius: 20px;
    margin: 10px;
    background-color: #FBFADA;
}

.fichas figure{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 0px;
    width: 80%;

    font-size: 20px;
    color: #12372A;
}

.fichas figure img {
    margin-top: 8px;
    width: 100%;
    border-radius: 5px;
}

footer{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding: 10px;
    box-sizing: border-box;
}

footer * {
    margin: 0px;
}

footer figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer figure img{
    width: 100%;
    border-radius: 20px;
}

@media (max-width: 845px) {
    #recuerdos {
        width: 600px;
    }
    footer {
        width: 600px;
    }
    .fichas {
        height: 300px;
    }
    .fichas figure{
        gap: 10px;
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    #recuerdos {
        width: 420px;
    }
    footer {
        width: 420px;
    }
    .fichas {
        height: 180px;
    }
    .fichas figure{
        gap: 2px;
        font-size: 10px;
    }
}

@media (max-width: 375px) {
    #recuerdos {
        width: 350px;
    }
    footer {
        width: 350px;
        padding: 10px;
    }
    .fichas {
        height: 165px;
        margin: 10px;
    }
    .fichas figure{
        gap: 6px;
        font-size: 8px;
    }
}

@media (max-width: 320px) {
    #recuerdos {
        width: 300px;
    }
    footer {
        width: 300px;
        padding: 10px;
    }
    .fichas {
        height: 140px;
        margin: 10px;
    }
    .fichas figure{
        font-size: 6px;
    }
}